/*The following settings apply to whole page. */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}


a {
    color: #d6d2c4;
    text-decoration: none;
}

/*Make the font of paragraph bigger.*/
p {
    font-size: 20px;
}


/*Fix the header so it won't move when scroll*/
/*Flex the header so it is more accessible on mobile version*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #003b49;
    color: #d6d2c4;
    position: fixed;
    Top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Highlight word "SEO" in different color. */
.header h1 .seo {
    color: #41b6e6;
}

/* Format navigation bar to align right. */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Remove the bullet symbol. */
.header nav ul {
    list-style-type: none;
}

/*Organize nav margin. */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}


/*The following is to add photo on the landing page.*/
/* Photo grows/shrinks size accordingly with screen size. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    position:static;
 
}

/*The following is to format main content on the left side. */
/*Similar properties are consolidated to follow semantic structure. */
.content {
    width: 70%;
    display: inline-block; 
    margin-left: 20px;
}

/* Set Background height changes accordingly when screen size changes. */
.image-element {
    margin-bottom: 20px;
    padding: 50px;
    height: 100%;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d6d2c4;
    color:  #003b49;
}

/* Set the maximize height of image 200px. */
.image-element img {
    max-height: 200px;
}

/* Make the image float left. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Make the image float right. */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Format h2 */
.image-element h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/*The following is to format column block on the right side. */
/* Similar properties are consolidated to follow semantic structure.*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 25%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d6d2c4 ;
 
}

/* Set paragraph size to 20px. */
.benefits p {
    font-size: 20px;
}

/* Set margin and color. */
.benefit-element {
    margin-bottom: 32px;
    color:  #003b49;
}

/* Set the h3. */
.benefit-element h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
}

/* Set the size of image. */
.benefit-element img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* The following is to format footer. */
/* Background color is updated to match the header. */

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: #003b49;
    color: #d6d2c4;
}

/* Set Foot heading size to 20px */
.footer h2 {
    font-size: 20px;
}

/* Give content and benefits elements a bigger view when screen size changes */
@media only screen and (max-width: 992px){
    .content, .benefits {
        width: 100%;
        margin:0;
    }
}